{% extends "base.html" %}
{% block content %}
<h1>{{ event.name }}</h1>

<ul>
    <li>{{ event.owner }}</li>
    {% if event.last_updated_time  and event.last_updated_by %} 
        <li> {{ event.last_updated_time }}: by {{ event.last_updated_by.username }}</li> 
    {% endif %}
</ul>

<button csrf_token="{{ csrf_token }}" class='reset' data='{{ event.id }}'>RESET</button>
<div id='updated' style='display:none;'>UPDATED</div>
<div id="event_log">
    <ul>
    {% for entry in event_log %}
        {% if entry.updated_time  and entry.updated_by %} 
            <li>{{ entry.updated_time }}: by {{ entry.updated_by.username }}</li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
<div id='add_event_permission_container'>
    <form id='add_event_permission' event_id='{{ event.id }}' csrf_token="{{ csrf_token }}">
        <input id='grantee_email' type='text' name='grantee_email'></input>
        <button type='submit'>SEND REQUEST</input>
    </form>
    <div id='event_permission_sent' style='display:none;'>Request Sent</div>
</div>
{% endblock %}
