{% extends "base.html" %}
{% block content %}
    {% if event_list %}
        <div id='updated' style='display:none;'>UPDATED</div>
        <ul>
        {% for event in event_list %}
            <li>
            <a href="{% url 'counter:detail' event.id %}">{{ event.name }}</a>
            <button csrf_token="{{ csrf_token }}" class='reset' data='{{ event.id }}'>RESET</button>
            {% if event.last_updated_time  and event.last_updated_by %} 
                {{ event.last_updated_time }}: by {{ event.last_updated_by.username }} 
            {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No events are available.</p>
    {% endif %}
    <div id='add_event_container'>
        <form id='add_event' csrf_token="{{ csrf_token }}">
            <input id='event_name' type='text' name='event_name'></input>
            <button type='submit'>ADD</input>
        </form>
        <div id='added' style='display:none;'>ADDED</div>
    </div>
{% endblock %}
