<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
<title>Counter</title>
<link rel="stylesheet" href="{% static "css/base.css" %}" /> <!-- CSS -->
<script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->
<script src="{% static "js/counter_ajax.js" %}"></script> <!-- JavaScript -->
<script src="{% static "js/moment.js" %}"></script> <!-- JavaScript -->
<script src="{% static "js/moment-timezone.js" %}"></script> <!-- JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.js"></script>
</head>

<body>
<div id="content">
    <a href="/counter/"> HOME </a> | 
    {% if user.is_authenticated %}
        <a href="/counter/logout/">Logout</a>
    {% else %}
        <a href="/counter/login/">Login</a> | <a href="/counter/register/">Register Here</a>
    {% endif %}
    {% block content %}{% endblock %}
</div>
</body>
</html>
